<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gbernat.flashlight"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="gbernat.flashlight.Utils"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="gbernat.flashlight.activities.Main"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gbernat.flashlight.activities.StrobeLight"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:multiprocess="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="gbernat.flashlight.activities.StrobeScreen"
            android:label="@string/app_name"
            android:multiprocess="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="gbernat.flashlight.activities.ScreenFlashlight"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="gbernat.flashlight.activities.WarningOrange"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="gbernat.flashlight.activities.PoliceWarning"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="gbernat.flashlight.activities.MorseCode"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:multiprocess="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <receiver android:name="gbernat.widget.flashlight.widget.AppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="gbernat.flashlight.8BITCLOCK_WIDGET_UPDATE" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>
        <receiver android:name="gbernat.widget.flashlight.widget.AppWidgetProvider2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="gbernat.flashlight.8BITCLOCK_WIDGET_UPDATE" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget2" />
        </receiver>
        <receiver android:name="gbernat.widget.flashlight.widget.FlashlightWidgetReceiver" >
            <intent-filter>
                <action android:name="COM_FLASHLIGHT" >
                </action>
                <action android:name="gbernat.flashlight.intent.action.CHANGE_PICTURE" >
                </action>
            </intent-filter>
        </receiver>

        <!--
        <activity 
            android:name="za.co.neilson.flashlight.StrobeLight" 
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            </activity>
        -->
    </application>

</manifest>